<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!--namespace声明对象的映射路径也就是IStudentMapper关联Studentmapper.xml  -->
<mapper namespace="com.mapper.IStudentMapper">
 <insert id="save" parameterType="com.po.Student">
 insert into student(sname,sex,address,birthday,classid) values(#{sname},#{sex},#{address},#{birthday},#{classid}) 
 </insert>
 <update id="update" parameterType="com.po.Student">
 update student set sname=#{sname},sex=#{sex},address=#{address},birthday=#{birthday},classid=#{classid} where sid=#{sid}
 </update>
 <delete id="delById" parameterType="java.lang.Integer">
 delete from student where sid=#{sid}
 </delete>
 <select id="findById" parameterType="java.lang.Integer" resultType="com.po.Student">
   select * from student where sid=#{sid}
 </select>
 <select id="findAll" resultType="com.po.Student">
 select * from Student
 </select> 
</mapper>